body {
  margin: 0;
  background-color: rgb(255, 214, 161);
}

.products {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  width: 250px;
  height: 290px;
  padding: 5px;
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border: 1px solid rgb(209, 209, 209);
}
.products img {
  width: 100px;
  height: 100px;
}
.body-products {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

.title-products {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  text-align: center;
  
}

.title-products h1 {
  
  width: 100%;
  

}
@media screen and (max-width:800px) {
  .title-products{
    flex-direction: column;
   align-items: center;
  }
  
}

ul {
  display: flex;
  flex-wrap: wrap;
}
